# virtual environment
venv/
env/

# python cache
__pycache__/
*.pyc

# environment variables
.env

# IDE
.vscode/
.idea/

# system files
.DS_Store

# файл с токеном бота, добавлен в .gitignore, чтобы не светить токен в открытом коде
config.py 